  <header class="mdl-layout__header">

    <div class="header-row">

      <div class="mdl-grid">

        <!-- Left Side Of Header -->
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
          <div class="mdl-cell mdl-cell--12-col">
            <h1 class="title"><img class="logo" src="img/Logo_Web_151x131.png">{{ site.title }}</h1>
          </div>
          <div class="mdl-cell mdl-cell--12-col"><h3 class="subtitle">{{ site.subtitle }}</h3></div>
          
          <div class="header-links mdl-cell mdl-cell--12-col">
            <a href="https://github.com/weber-stephen/kingswell-saas-template" class="btn">View on GitHub</a>
            <a href="https://github.com/weber-stephen/kingswell-saas-template/zipball/master" class="btn">Download .zip</a>
            <a href="#getting-started" class="btn">Get Started</a>
          </div>
        </div>
        <!-- /Left Side Of Header -->

        <div class="mdl-cell mdl-cell--6-col mdl-layout--large-screen-only">
          <section id="header-card-stack">
            <figure class="stack stack-coverflow">
              <img src="img/screen3.jpg" alt="Login">
              <img src="img/screen2.jpg" alt="Datagrid">
              <img src="img/screen1.jpg" alt="Dashboard">
            </figure>
          </section>
        </div>

        <section id="header-card-stack" class="mdl-layout--small-screen-only mdl-cell--12-col-tablet mdl-cell--12-col-phone">
          <figure class="stack stack-queue">
            <img src="img/screen3.jpg" alt="Login">
            <img src="img/screen2.jpg" alt="Datagrid">
            <img src="img/screen1.jpg" alt="Dashboard">
          </figure>
        </section>

      </div>

    </div>

  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/">Home</a>
      <a class="mdl-navigation__link" href="https://github.com/weber-stephen/kingswell-saas-template" class="btn">View on GitHub</a>
      <a class="mdl-navigation__link" href="https://github.com/weber-stephen/kingswell-saas-template/zipball/master" class="btn">Download .zip</a>
      <a class="mdl-navigation__link" href="#getting-started" class="btn">Get Started</a>
    </div>
    </nav>

  </div>


