.icons-view {

  md-input-container {

    input {
      min-width: 800px;
    }

  }

  #icon-container {
    max-width: 800px;

    .icons-box {
      padding-bottom: 30px;
    }

    md-icon {
      color: #000;
    }

  }

}