$nav-width: 250px;
$nav-closed-width: 50px;

body {
    font-family: $font-family-sans-serif;
}

.view-toolbar {
  background: #f6f6f6;

  span {
    color: #fff;
  }

  #notification-btn {
    min-width: 50px;
    min-height: 50px;
  }

  #theme-selector-btn {
    min-width: 50px;
    min-height: 50px;
  }

}

body a {
  text-decoration: none;
}

.hljs {
  padding: 20px;
  padding-right: 30px;
}