.stack {
    margin: 20px auto;
    width: 400px;
    padding: 0;
    position: relative;
    max-width: 100%;
}
/* Stack Coverflow */
.stack-coverflow {
    -webkit-perspective: 1600px;
    perspective: 1600px;
}
.stack img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
    outline: 1px solid transparent;
}
.stack-coverflow img {
    -webkit-transform: translateZ(0) translateX(0) rotateY(0);
    transform: translateZ(0) translateX(0) rotateY(0);
}
.stack-coverflow.active img {
  box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 12px 17px 2px rgba(0,0,0,.14),0 5px 22px 4px rgba(0,0,0,.12);
}
.stack-coverflow.active img:first-child {
    -webkit-transform: translateZ(-300px) translateX(20%) rotateY(-45deg);
    transform: translateZ(-300px) translateX(20%) rotateY(-45deg);
}
.stack-coverflow.active img:nth-child(2) {
    -webkit-transform: translateZ(-300px) translateY(10px) rotateY(-45deg);
    transform: translateZ(-300px) translateY(10px) rotateY(-45deg);
}
.stack-coverflow.active img:nth-child(3) {
    -webkit-transform: translateZ(-300px) translateY(15px) translateX(-20%) rotateY(-45deg);
    transform: translateZ(-300px) translateY(15px) translateX(-20%) rotateY(-45deg);
}

/* Stack Queue */
.stack-queue {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.stack-queue.active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
.stack img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
    outline: 1px solid transparent;
}
.stack-queue img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 50% -50%;
    transform-origin: 50% -50%;
}

.stack-queue.active img {
  box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 12px 17px 2px rgba(0,0,0,.14),0 5px 22px 4px rgba(0,0,0,.12);
}
.stack-queue.active img:first-child {
    -webkit-transform: scale(.7);
    transform: scale(.7);
}
.stack-queue.active img:nth-child(2) {
    -webkit-transform: scale(.8);
    transform: scale(.8);
}
.stack-queue.active img:nth-child(3) {
    -webkit-transform: scale(.9);
    transform: scale(.9);
}
.stack img:last-child {
    position: relative;
}

/* Peakaboo */
.stack-peekaboo.active img {
  box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 12px 17px 2px rgba(0,0,0,.14),0 5px 22px 4px rgba(0,0,0,.12);
}
.stack-peekaboo.active img:first-child {
    -webkit-transform: scale(0.5) translate(50%,-50%) rotate(15deg);
    transform: scale(0.5) translate(50%,-50%) rotate(15deg);
}
.stack-peekaboo img:first-child, .stack-peekaboo img:nth-child(2), .stack-peekaboo img:nth-child(3) {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}
.stack-peekaboo.active img:nth-child(2) {
    -webkit-transform: scale(0.5) translate(0,-50%);
    transform: scale(0.5) translate(0,-50%);
}
.stack-peekaboo.active img:nth-child(3) {
    -webkit-transform: scale(0.5) translate(-50%,-50%) rotate(-15deg);
    transform: scale(0.5) translate(-50%,-50%) rotate(-15deg);
}
.stack-peekaboo.active img:nth-child(4) {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}