//
// Generals styles for material design light elements
//

html {
  background-color: #fff;
}

// Page container

.page-content{
  max-width: 800px;
  margin: 0 auto;
}

// Cards styles
.mdl-card {
  .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../img/welcome_card.jpg') center / cover;
  }

  .mdl-card__supporting-text > span { color: #9F9F9F; }

  .mdl-card__menu {
    color: #fff;
  }
}

.mdl-layout__container {
  position: inherit;
}

.highlight pre {
  background-color: #efefef;
}

.text-center {
  width: 100%;
  text-align: center;
}

.tiled-img img {
  max-width: 75px;
  float: left;
}

@media screen and (max-width: 850px) {
  .mdl-layout__drawer-button {
    color: #fff;
  }
}