//
// Generals styles for material design light elements
//

html {
  background-color: #fff;
}

// Page container

.page-content{
  max-width: 800px;
  margin: 0 auto;
}

// Cards styles
.mdl-card {
  .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../img/welcome_card.jpg') center / cover;
  }

  .mdl-card__supporting-text > span { color: #9F9F9F; }

  .mdl-card__menu {
    color: #fff;
  }
}

.post-button{
  position: absolute;
  right: 15px;
  bottom: 25px;
}

// Index highlight card

.section-highlight {
  position: relative;
  margin: 10px;

  .mdl-card__supporting-text {
    margin: 40px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0;
    color: inherit;
    width: calc(100% - 80px);
  }

  .mdl-card__actions {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin: 0;
    padding: 4px 40px;
    color: inherit;
  }

  button {
    position: absolute;
    z-index: 99;
    top: 8px;
    right: 8px;
  }

}

.highlight pre {
  background-color: #efefef;
}

.text-center {
  width: 100%;
  text-align: center;
}

.tiled-img img {
  max-width: 75px;
  float: left;
}

@media screen and (max-width: 850px) {
  .mdl-layout__drawer-button {
    color: #fff;
  }
}