<div class="tabs-view">
  
  <section layout="column" layout-margin layout-padding>
    <div class="row">
      <div flex="100">
        https://material.angularjs.org/latest/demo/tabs
      </div>
    </div>
  </section>

  <section layout="column" layout-margin layout-padding>
    <div class="row">
      <div flex="100">
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="one">
            <md-content class="md-padding">
              <h1 class="md-display-2">Tab One</h1>
              <p>Umami next level Thundercats, vinyl tilde before they sold out food truck actually bicycle rights. 8-bit shabby chic ennui stumptown taxidermy iPhone, Portland tilde forage bitters PBR&B hoodie YOLO. Polaroid flannel listicle, seitan readymade put a bird on it Kickstarter.</p>
            </md-content>
          </md-tab>
          <md-tab label="two">
            <md-content class="md-padding">
              <h1 class="md-display-2">Tab Two</h1>
              <p>Selvage scenester Kickstarter, distillery Tumblr authentic sustainable 8-bit bitters meh semiotics. Distillery retro jean shorts YOLO. Kickstarter fixie keytar kale chips, twee Schlitz umami jean shorts tousled. Scenester squid disrupt, Blue Bottle twee tofu locavore American Apparel sartorial. Locavore whatever selfies 8-bit four dollar toast deep v sustainable. Beard tofu food truck, trust fund bitters pickled plaid Godard banjo listicle keffiyeh taxidermy Portland fingerstache. Cold-pressed Blue Bottle letterpress bicycle rights selfies twee.</p>
            </md-content>
          </md-tab>
          <md-tab label="three">
            <md-content class="md-padding">
              <h1 class="md-display-2">Tab Three</h1>
              <p>Cardigan pour-over flexitarian normcore vegan, Portland single-origin coffee polaroid Thundercats fashion axe 3 wolf moon mlkshk kitsch four loko fingerstache. Taxidermy artisan hoodie, narwhal beard tofu Pitchfork crucifix stumptown. Trust fund taxidermy selfies Marfa cold-pressed, stumptown bicycle rights Godard chambray cornhole paleo. Fingerstache Pinterest scenester, before they sold out shabby chic Tumblr four loko art party Marfa narwhal. Flannel church-key fingerstache gentrify YOLO, literally selfies bitters cray forage Helvetica street art lo-fi. Gastropub artisan umami, Blue Bottle cornhole typewriter Odd Future sriracha readymade ugh iPhone Brooklyn heirloom mixtape. Twee paleo Pitchfork, 8-bit roof party hoodie distillery 90's typewriter scenester Carles.</p>
            </md-content>
          </md-tab>
        </md-tabs>
      </div>
    </div>
  </section>

  <section layout="row" layout-align="center center">
    <div class="code-container" flex>
      <div hljs include="'exampleCode1'">
      </div>
      <md-button class="copy-btn" clipboard text="getExample('exampleCode1')">Copy</md-button>
    </div>
  </section>

  <script type="text/ng-template" id="exampleCode1">
<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="one">
    <md-content class="md-padding">
      <h1 class="md-display-2">Tab One</h1>
      <p>Umami next level Thundercats, vinyl tilde before they sold out food truck actually bicycle rights. 8-bit shabby chic ennui stumptown taxidermy iPhone, Portland tilde forage bitters PBR&B hoodie YOLO. Polaroid flannel listicle, seitan readymade put a bird on it Kickstarter.</p>
    </md-content>
  </md-tab>
  <md-tab label="two">
    <md-content class="md-padding">
      <h1 class="md-display-2">Tab Two</h1>
      <p>Selvage scenester Kickstarter, distillery Tumblr authentic sustainable 8-bit bitters meh semiotics. Distillery retro jean shorts YOLO. Kickstarter fixie keytar kale chips, twee Schlitz umami jean shorts tousled. Scenester squid disrupt, Blue Bottle twee tofu locavore American Apparel sartorial. Locavore whatever selfies 8-bit four dollar toast deep v sustainable. Beard tofu food truck, trust fund bitters pickled plaid Godard banjo listicle keffiyeh taxidermy Portland fingerstache. Cold-pressed Blue Bottle letterpress bicycle rights selfies twee.</p>
    </md-content>
  </md-tab>
  <md-tab label="three">
    <md-content class="md-padding">
      <h1 class="md-display-2">Tab Three</h1>
      <p>Cardigan pour-over flexitarian normcore vegan, Portland single-origin coffee polaroid Thundercats fashion axe 3 wolf moon mlkshk kitsch four loko fingerstache. Taxidermy artisan hoodie, narwhal beard tofu Pitchfork crucifix stumptown. Trust fund taxidermy selfies Marfa cold-pressed, stumptown bicycle rights Godard chambray cornhole paleo. Fingerstache Pinterest scenester, before they sold out shabby chic Tumblr four loko art party Marfa narwhal. Flannel church-key fingerstache gentrify YOLO, literally selfies bitters cray forage Helvetica street art lo-fi. Gastropub artisan umami, Blue Bottle cornhole typewriter Odd Future sriracha readymade ugh iPhone Brooklyn heirloom mixtape. Twee paleo Pitchfork, 8-bit roof party hoodie distillery 90's typewriter scenester Carles.</p>
    </md-content>
  </md-tab>
</md-tabs>
  </script>

</div>