<div class="typography-view">

  <section layout="row" layout-margin layout-padding>
    <p>To preserve <a href="http://webaim.org/techniques/semanticstructure/">semantic structures</a>, you should style the <code>&lt;h1&gt;</code> - <code>&lt;h6&gt;</code> heading tags with the styling classes shown below:</p>
  </section>

  <section layout="column" layout-margin layout-padding>
    <div class="md-display-1">.md-display-1</div>
    <div class="md-display-2">.md-display-2</div>
    <div class="md-display-3">.md-display-3</div>
    <div class="md-display-4">.md-display-4</div>
    <div class="md-headline">.md-headline</div>
    <div class="md-title">.md-title</div>
    <div class="md-subhead">.md-subhead</div>
  </section>

  <section layout="row" layout-align="center center">
    <div class="code-container" flex>
      <div hljs include="'exampleCode1'">
      </div>
      <md-button class="copy-btn" clipboard text="getExample('exampleCode1')">Copy</md-button>
    </div>
  </section>

  <script type="text/ng-template" id="exampleCode1">
  <h1 class="md-display-1">.md-display-1</h1>
  <h2 class="md-display-2">.md-display-2</h2>
  <h3 class="md-display-3">.md-display-3</h3>
  <h4 class="md-display-4">.md-display-4</h4>
  <h5 class="md-headline">.md-headline</h5>
  <div class="md-title">.md-title</div>
  <div class="md-subhead">.md-subhead</div>
  </script>

</div>