<div class="easy-pie-charts-view">
  <md-content layout-margin layout-padding>

    <div class="md-title">Line Cap Types</div>
    <div layout="row" layout-margin layout-padding layout-align="center center">
      <md-card layout-margin layout-padding flex layout-align="center center">
        <div easypiechart options="pieChart1" percent="pieChart1.data"></div>
        {{pieChart1.label}}
      </md-card>
      <md-card layout-margin layout-padding flex layout-align="center center">
        <div easypiechart options="pieChart2" percent="pieChart2.data"></div>
        {{pieChart2.label}}
      </md-card>
      <md-card layout-margin layout-padding flex layout-align="center center">
        <div easypiechart options="pieChart3" percent="pieChart3.data"></div>
        {{pieChart3.label}}
      </md-card>
    </div>

    <div class="md-title">Line Width Examples</div>
    <div layout="row" layout-margin layout-padding layout-align="center center">
      <md-card layout-margin layout-padding flex layout-align="center center">
        <div easypiechart options="pieChart4" percent="pieChart4.data"></div>
        {{pieChart4.label}}
      </md-card>
      <md-card layout-margin layout-padding flex layout-align="center center">
        <div easypiechart options="pieChart5" percent="pieChart5.data"></div>
        {{pieChart5.label}}
      </md-card>
      <md-card layout-margin layout-padding flex layout-align="center center">
        <div easypiechart options="pieChart6" percent="pieChart6.data"></div>
        {{pieChart6.label}}
      </md-card>
    </div>

    <div class="md-title">Size Examples</div>
    <div layout="row" layout-margin layout-padding layout-align="center center">
      <md-card layout-margin layout-padding flex layout-align="center center">
        <div easypiechart options="pieChart7" percent="pieChart7.data"></div>
        {{pieChart7.label}}
      </md-card>
      <md-card layout-margin layout-padding flex layout-align="center center">
        <div easypiechart options="pieChart8" percent="pieChart8.data"></div>
        {{pieChart8.label}}
      </md-card>
      <md-card layout-margin layout-padding flex layout-align="center center">
        <div easypiechart options="pieChart9" percent="pieChart9.data"></div>
        {{pieChart9.label}}
      </md-card>
    </div>
  </md-content>
</div>