<div class="rickshaw-view">
  <md-content layout-margin layout-padding>
    <div layout="row" layout-margin layout-padding layout-align="center center">
      <md-card id="example1" class="chart-card" layout-margin layout-padding flex>
        <div class="md-title text-right">Area Chart</div>
        <rickshaw
          rickshaw-options="areaChartOptions"
          rickshaw-features="areaChartFeatures"
          rickshaw-series="areaChartSeries">
        </rickshaw>
      </md-card>
    </div>
    <div layout="row" layout-margin layout-padding layout-align="center center">
      <md-card "example2" class="chart-card" layout-margin layout-padding flex>
        <div class="md-title text-right">Area Chart</div>
        <rickshaw
          rickshaw-options="areaChartOptions"
          rickshaw-features="areaChartFeatures"
          rickshaw-series="areaChartSeries">
        </rickshaw>
      </md-card>
      <md-card id="example3" class="chart-card" layout-margin layout-padding flex>
        <div class="md-title text-right">Line Chart</div>
        <rickshaw
          rickshaw-options="lineChartOptions"
          rickshaw-features="lineChartFeatures"
          rickshaw-series="lineChartSeries">
        </rickshaw>
      </md-card>
    </div>

    <section layout="row" layout-align="center center" layout-padding class="margin-bottom-50">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="HTML">
          <div class="code-container" flex>
            <div hljs include="'exampleCode1HTML'">
            </div>
            <md-button class="copy-btn" clipboard text="getExample('exampleCode1HTML')">Copy</md-button>
          </div>
        </md-tab>
        <md-tab label="JS">
          <div class="code-container" flex>
            <div hljs include="'exampleCode1JS'">
            </div>
            <md-button class="copy-btn" clipboard text="getExample('exampleCode1JS')">Copy</md-button>
          </div>
        </md-tab>
      </md-tabs>
    </section>
  </md-content>
<script type="text/ng-template" id="exampleCode1HTML">
//Area Chart Settings
$scope.areaChartOptions = {
    renderer: 'area'
};
$scope.areaChartFeatures = {
    hover: {
        xFormatter: function(x) {
            return 't=' + x;
        },
        yFormatter: function(y) {
            return '$' + y;
        }
    }
};
$scope.areaChartSeries = [{
    name: 'Series 1',
    color: 'steelblue',
    data: [{x: 0, y: 23}, {x: 1, y: 15}, {x: 2, y: 79}, {x: 3, y: 31}, {x: 4, y: 60}]
}, {
    name: 'Series 2',
    color: 'lightblue',
    data: [{x: 0, y: 30}, {x: 1, y: 20}, {x: 2, y: 64}, {x: 3, y: 50}, {x: 4, y: 15}]
}];

//Line Chart Settings
$scope.lineChartOptions = {
    renderer: 'line'
};
$scope.lineChartFeatures = {
    hover: {
        xFormatter: function(x) {
            return 't=' + x;
        },
        yFormatter: function(y) {
            return '$' + y;
        }
    }
};
$scope.lineChartSeries = [{
    name: 'Series 1',
    color: 'steelblue',
    data: [{x: 0, y: 23}, {x: 1, y: 15}, {x: 2, y: 79}, {x: 3, y: 31}, {x: 4, y: 60}]
}, {
    name: 'Series 2',
    color: 'lightblue',
    data: [{x: 0, y: 30}, {x: 1, y: 20}, {x: 2, y: 64}, {x: 3, y: 50}, {x: 4, y: 15}]
}];
</script>

<script type="text/ng-template" id="exampleCode1JS">
$scope.formData = {};

$scope.submitted = false;

$scope.submit = function() {
$scope.submitted = true;
};

$scope.interacted = function(field) {
return $scope.submitted || field.$dirty;
};
</script>
</div>